<mat-form-field class="w-full">
  <mat-chip-list #filterList>
    <mat-chip *ngFor="let filter of filters$ | async"
              selectable removable (removed)="removeFilter(filter)">
      <app-filter-content-autodetect [filter]="filter"></app-filter-content-autodetect>
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>

    <!--suppress HtmlFormInputWithoutLabel -->
    <input #filterInput placeholder="Filters"
           [formControl]="filterControl"
           [matAutocomplete]="auto"
           [matChipInputFor]="filterList"
           [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
           matChipInputAddOnBlur="true"
           (matChipInputTokenEnd)="createFilter($event)">
  </mat-chip-list>

  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                    [displayWith]="displayAutocompleteValue"
                    (optionSelected)="autocompleteAddFilter($event)">
    <mat-option *ngFor="let filter of autocompleteValues$ | async"
                [value]="filter">
      {{ filter.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
