<div *ngIf="isCountryFilter()" class="flex-1">
  <span>Country</span>
  <span *ngFor="let country of countryFilter.countries"
        [appFlag]="country.isoCode" [squared]="true"
        [matTooltip]="country.name"
        matTooltipPosition="above"
        class="rounded ml-1"></span>
</div>

<div *ngIf="isRatingFilter()" class="flex-center">
  <span class="my-auto">Min </span>
  <img *ngFor="let beer of ratingRange"
    class="my-auto" src="assets/pint.svg" alt="Beers">
</div>

<ng-container *ngIf="isAlcoholFilter()">
  <span *ngIf="alcoholFilter.min">{{ alcoholFilter.min | number:'1.0-1' | alcoholRate }}&nbsp;&le;&nbsp;</span>
  <span>Alcohol</span>
  <span *ngIf="alcoholFilter.max">&nbsp;&lt;&nbsp;{{ alcoholFilter.max | number:'1.0-1' | alcoholRate }}</span>
</ng-container>

<ng-container *ngIf="isNameFilter()">
  <span>{{ nameFilter.name | titlecase }}</span>
</ng-container>
