<mat-toolbar color="primary" class="fixed z-10 mat-elevation-z6">
  <nav class="nav-container">
    <a routerLink="/" class="logo flex-center">
      <img src="../../../assets/favicon.ico" alt="Logo" height="32" width="32">
      <span>&nbsp;Drunk Board</span>
    </a>
    <a routerLink="/" mat-button>
      Leaderboard
    </a>
    <a routerLink="/best" mat-button>
      Best Of
    </a>

    <span class="nav-fill"></span>

    <button mat-button (click)="openAdminLoginDialog()">Admin Mode</button>
  </nav>
</mat-toolbar>
