<mat-toolbar color="primary" class="mat-elevation-z6">
  <nav class="nav-container">
    <!-- Left side -->
    <a routerLink="/" class="logo flex-center">
      <img src="../favicon.ico" alt="Logo">
      <span>&nbsp;Drunk Board</span>
    </a>
    <a routerLink="/" mat-button>
      Leaderboard
    </a>
    <a routerLink="/best" mat-button>
      Best Of
    </a>

    <!-- Filler -->
    <span class="nav-fill"></span>

    <!-- Right side -->
    <button mat-button>Admin Mode</button>
  </nav>
</mat-toolbar>
